---
const{eventData}=Astro.props

---

<article>
  <img src="{eventData.photo}" alt="{eventData.event_name}">
    <h2>{eventData.event_name}</h2>
     <p>{eventData.date}</p>
    <p>{eventData.place}</p>
    <p>{eventData.deskription}</p>
   
</article>

<style>
    img {
        max-width: 100%;
        height: auto;
    }
    article {

        padding: 2rem;
        margin: 2rem;
        background-color: #E4DDD3;
        display:block;
    place-items: center;
     
    }
    h2 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
       
        justify-items: center;

    }
 
</style>