---
const{eventData}=Astro.props
//@ts-nocheck
---
<!-- <a href={"/kalender/" + eventData.slug}> -->
<article>
  <img src={eventData.photo} alt={eventData.event_name}>
    <h2>{eventData.event_name}</h2>
     <p class="dato">{eventData.date}</p>
    <p class="place">{eventData.place}</p>
    <p>{eventData.deskription}</p>
    <a href={"/kalender/" + eventData.slug} class="readmorebtn">Læs mere</a>
   </article>
<!-- <a/> -->

 <!-- {eventData.active ? <p>indidvidet er aktivt<p/> : <p>indidvet er ikke aktivt</p>} -->

<style>
    img {
        max-width: 100%;
        max-height: 100%;
           display: block;
        object-fit: cover;
     aspect-ratio: 1/1;
    }
    article {

      display: grid;
    grid-template-columns: subgrid;
    grid-row: span 6;
        margin: 1rem;
        background-color: #E4DDD3;
  overflow: hidden;
     
    }
    h2 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
       
        justify-items: center;

    }
    p, h2{
        margin: 0.5rem;
        text-align: center;
        font-family: 'inter', sans-serif;
    }
 
 .readmorebtn {
    display: block;
    width: 5rem;
    padding: 0.7rem;
    border-radius: 0.2rem;
    margin: 2rem;
    background-color: #402A32;
    color: #fff;
    text-align: center;
  justify-self: center;
  font-family: 'inter', sans-serif;
    text-decoration: none;
    height: 1.2rem;
}

    .readmorebtn:hover {
      background-color: #5a3739;
    }
    .dato {
      font-weight: bold;
      color: #3a3a3a;
    }
    .place {
      color: #3a3a3a;
      margin-bottom: 2rem;
    }
  
</style>