---
const{eventData}=Astro.props
//@ts-nocheck
---
<!-- <a href={"/kalender/" + eventData.slug}> -->
<article>
  <img src={eventData.photo} alt={eventData.event_name}>
    <h2>{eventData.event_name}</h2>
     <p>{eventData.date}</p>
    <p>{eventData.place}</p>
    <p>{eventData.deskription}</p>
    <a href={"/kalender/" + eventData.slug} class="readmorebtn">Læs mere</a>
   </article>
<!-- <a/> -->

 <!-- {eventData.active ? <p>indidvidet er aktivt<p/> : <p>indidvet er ikke aktivt</p>} -->

<style>
    img {
        max-width: 100%;
        max-height: 100%;
           display: block;
        object-fit: cover;
     aspect-ratio: 1/1;
    }
    article {

    
        margin: 1rem;
        background-color: #E4DDD3;
  overflow: hidden;
     
    }
    h2 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
       
        justify-items: center;

    }
    p, h2{
        margin: 1rem;
        text-align: center;
    }
 
 .readmorebtn {
    display: block;
    width: 5rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin-bottom: 0.5rem;
    background-color: #402A32;
    color: #fff;
    text-align: center;
  justify-self: center;
    text-decoration: none;
    font-weight: bold;}

    .readmorebtn:hover {
      background-color: #5a3739;
    }
</style>